# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.idea/
.trae/
.vs/
*.iml

# Rust
target/
Cargo.lock
*.log
*.txt
.cargo/config.toml


# Node
node_modules/
build/
.wrangler/
dist/
static/**/*
index.css
pnpm-lock.yaml


# SQLite
*.db
*.db-wal
